<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          Press <b>Scan</b> to scan a QR Code
          <button class="button button-positive button-block" ng-click="scanBar(result)">Scan</button>
        </div>
      </div>
    </div>
    <div class="list card" ng-show="result.cancelled==false">
      <div class="item item-divider">Result</div>
      <div class="item item-body">
        <p>Result: {{result.text}}</p>
        <p>Format: {{result.format}}</p>
        <p>Cancelled: {{result.cancelled}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
